<?xml version="1.0" encoding="utf-8"?>
<manifest package="twitterapp.example.com.twitterapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />

    <application
        android:name="twitterapp.example.com.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="twitterapp.example.com.presentation.views.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="twitterapp.example.com.presentation.views.activities.LoginActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="twitterapp.example.com.presentation.views.activities.TimeLineActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="twitterapp.example.com.presentation.views.activities.ProfileActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="twitterapp.example.com.presentation.views.activities.FavoriteTweetsActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>